menu "Example Configuration"

    config SHTC3_I2C_SDA_PIN
        int "I2C SDA Pin"
        default 2
        help
            GPIO number for I2C master data (M5NanoC6 Grove port: G2=GPIO2)

    config SHTC3_I2C_SCL_PIN
        int "I2C SCL Pin"
        default 1
        help
            GPIO number for I2C master clock (M5NanoC6 Grove port: G1=GPIO1)

    config PIR_DATA_PIN
        int "PIR Data Pin"
        default 7
        help
            Default PIR Data Pin

endmenu
